.text-white-hover:hover {
  color: white;
}
.social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
.text-yellow {
  color: rgb(102, 102, 20);
}
.btn-primary:hover {
  background-color: rgb(0, 155, 171);
  border-radius: 3px;
}
.text-color-green {
  color: green;
  margin-left: 1rem;
  padding: 2px;
  border-radius: 999;
  background-color: aliceblue;
}
.list-unstyled {
  list-style: none;
}
.social-icons li a {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6,
body {
  font-family: 'Adcumin', sans-serif;
}

body {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #2b2b2b;
  color: #ffffff;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  border: none;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid black;
}
tr:last-child td {
  border-bottom: none;
}
canvas {
  max-width: 100%;
}
.chart-cell {
  width: 200px; /* Điều chỉnh kích thước của cột biểu đồ */
}
.transaction-cell {
  width: 100px; /* Điều chỉnh kích thước của cột giao dịch */
}
.dark-mode-toggle {
  /* width: 20px;
    height: 20px; */
  margin-left: 1rem;
  margin-top: 0, 5rem;
  cursor: pointer;
}

.dark-mode-toggle.dark-mode {
  content: url(/IMG/night.png);
}
.hd {
    margin-left: 1rem ;
}
/*  */
#coinTable tbody tr {
  height: 25px;
}
