.back-button {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  font-size: 0.9em;
  color: #fff;
  text-decoration: none;
}

.back-button:hover {
  text-decoration: underline;
}

.back-button:hover {
  text-decoration: underline;
}
.form-box{
width: 400px;
height: 500px;
}
.back-button svg {
  height: 2em;
  width: 2em;
  margin-right: 5px;
  fill: #fff;
  transition: fill 0.3s ease;
}

.back-button:hover svg {
  fill: #000;
}
.disclaimer{
  max-width: 400px; word-wrap: break-word;
  padding-top: 15px;
  color: white;
  font-weight: bold;
}
.disclaimer a {
  text-decoration: none;
}